.env
.env.*

**/node_modules
**/dist
**/dist-ssr

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

front-end/*.local
front-end/coverage
front-end/.vscode/*
!front-end/.vscode/extensions.json
front-end/.idea
front-end/*.suo
front-end/*.ntvs*
front-end/*.njsproj
front-end/*.sln
front-end/*.sw?

.DS_Store
